@import '../../../styles/mixins';

.venados {
    width: 100%;
    height:55vh;
    border-radius: 20px;  
    margin: auto;
    @include sm {
        width: 70%;
        height:70vh;
      }
    
      @include md {
        width: 90%;
        height:55vh;
      }
    
      @include lg {
        width: 90%;
        height:55vh;
      }
    
      @include xl {
        width: 90%;
        height:55vh;
      }
}
.mbcontrol {
    width: 100%;
    height:40vh;
    border-radius: 20px;
    @include sm {
        width: 100%;
        height:70vh;
      }
    
      @include md {
        width: 100%;
        height:55vh;
      }
    
      @include lg {
        width: 100%;
        height:55vh;
      }
    
      @include xl {
        width: 100%;
        height:55vh;
      }
}

.ludix {
    width: 90%;
    height:55vh;
    border-radius: 20px; 
    margin: auto;   
}