
.list{
    list-style: none;
    padding: 0;
}

.list li{
    background-image: url('../../assets/images/hat.jpg'); 
    background-repeat: no-repeat;    
    background-size: 30px 30px; 
    padding-left: 30px;
}